*{
/* reset */
margin: 0;
padding: 0;
}
li{
    /* text-decoration: none; */
    list-style: none;
}
body{
    /* background-color: rgb(244, 252, 122); */
    background-color: rgb(19, 223, 210);
}
:root{
--color1: pink;
--color2: rgb(160, 115, 115);
--mar1:4px 44px;
--mar2:1px 14px;
--pad2:1px 6px;
--pad1:4px 14px;
--bor1: solid 2px black;
--bor2: solid 0px black;
--borr1: 6px;

}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--pad1);
    border: var(--bor1);
    border-radius: var(--borr1);
    margin: 0px 2px;
    background-color: orange;
    
}
#navul{
    display: flex;
    /* border: var(--bor1); */
    border-radius: var(--borr1);
    
}
#navul li{
    /* display: flex; */
    margin: var(--mar1);
    border: var(--bor1);
    border-radius: var(--borr1);
    padding: var(--pad1);
    background-color: rgb(19, 223, 210);
}
.five{
    border: var(--bor2);
    justify-content: center;
    align-items: center;
    text-align: center;
}
#navul li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#helpnav li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#setting li:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

#navul li img{
height: 35px;
align-items: center;
justify-content: center;}
#logo img{
    height:70px;
    border: var(--bor1);
    border-radius: var(--borr1);
}
#helpnav li{
    border: var(--bor1);
    border-radius: var(--borr1);
    padding: var(--pad1);
    margin: var(--mar1);
    background-color:yellow;
}
.helps{
    /* border: var(--bor1); */
    border-radius: var(--borr1);
}
#notice{
    text-align: center;
    border: var(--bor1);
    border-radius: var(--borr1);
    padding: var(--pad1);
    /* margin: var(--mar1); */
    margin: 4px 2px;
    display: block;
}
#search{
    text-align: center;
    border: var(--bor1);
    border-radius: var(--borr1);
    padding: var(--pad1);
    margin: 4px 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#setting ul {
    display: flex;
}
#setting li {
   border: var(--bor1);
   padding: var(--pad1);
    margin: 4px 2px;
    background-color: rgb(255 184 0);
    border-radius: var(--borr1);
}
#setting img{
    height: 30px;
}

#logo1 img{
    height: 52px;
}

#searchbar img{
    height: 12px;
}
#homepage{
    display: grid;
    z-index: 0;
    /* grid-gap: 1 rem; */

    grid-template-areas: 
    'home1 home2 home3 home4'
    'home5 home6 home7 home8'
    'home9 home10 home11 home12'
    
    ;
    justify-content: space-between;
    
}.down{
    display: flex;
    margin: 4px 0px;
}
.homer{
    border: var(--bor1);
    padding: var(--pad1);
    margin:10px 10px;
    height: 150px;
    width: 150px;
    background-color: orange;
}.cart a{
    border: var(--bor1);
    margin: var(--mar2);
    padding: var(--pad2);
}
.buy a{
    border: var(--bor1);
    margin: var(--mar2);
    padding: var(--pad2);
}
#home1{
    grid-area: home1;
}
#home2{
    grid-area: home2;
}
#home3{
    grid-area: home3;
}
#home4{
    grid-area: home4;
}
#home5{
    grid-area: home5;
}
#home6{
    grid-area: home6;
}
#home7{
    grid-area: home7;
}
#home8{
    grid-area: home8;
}
#home9{
    grid-area: home9;
}
#home10{
    grid-area: home10;
}
#home11{
    grid-area: home11;
}
#home12{
    grid-area: home12;
}
#homepage img{

    height:100px;
    width:150px;
}
